@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  /* syne-regular - latin */
  @font-face {
      font-family: 'Syne';
      font-style: normal;
      font-weight: 400;
      src: local(''),
          url('/fonts/syne-v12-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
          url('/fonts/syne-v12-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  /* syne-800 - latin */
  @font-face {
      font-family: 'Syne';
      font-style: normal;
      font-weight: 800;
      src: local(''),
          url('/fonts/syne-v12-latin-800.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
          url('/fonts/syne-v12-latin-800.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  /* poppins-regular - latin */
  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('/fonts/poppins-v19-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('/fonts/poppins-v19-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  /* poppins-700 - latin */
  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src: local(''),
        url('/fonts/poppins-v19-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('/fonts/poppins-v19-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
}

@layer utilities {
  @keyframes sauna {
    0% {
      transform: scaleY(1);
    }

    23% {
      transform: scaleY(0.7);
    }

    50% {
      transform: scaleY(1);
    }

    77% {
      transform: scaleY(1.8);
    }

    100% {
      transform: scaleY(1);
    }
  }

  @keyframes box {
    0% {
      transform: scaleY(1);
    }

    23% {
      transform: scaleY(2);
    }

    50% {
      transform: scaleY(1);
    }

    77% {
      transform: scaleY(0.5);
    }

    100% {
      transform: scaleY(1);
    }
  }

  .animate-logo-sauna {
    animation: sauna 8s linear infinite;
  }

  .animate-logo-box {
    animation: box 10s linear 0.5s infinite;
  }
}